@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  background-color: rgba(0, 0, 0);
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}
